body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: #3b5998;
    padding: 8px 0;
}
.header::after {
    content: '';
    clear: both;
    display: block;
}
.container {
    width: 65%;
    margin: auto;
}
.logo-area {
    width: 30%;
    float: left;
}
.logo-area img {
    width: 160px;
    margin-top: 20px;
}
.login-area {
    width: 70%;
    float: left;
    color: white;
}
.login-area form {
    float: right;
}
.login-area label,
.login-area input {
    display: block;
}
.login-area .email,
.login-area .password,
.login-area .login {
    float: left;
    margin-right: 15px;
}
.login-area label {
    font-size: 14px;
    margin-bottom: 5px;
}
.login-area .login {
    margin-right: 0;
}

.login-area input[type="text"],
.login-area input[type="password"] {
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 5px;
}
.login-area .password a {
    text-decoration: none;
    color: #9cb4d8;
    font-size: 12px;
}
.login-area .password a:hover {
    text-decoration: underline;
}
.login-area input[type="submit"] {
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    padding: 3px 8px;
    margin-top: 22px;
}